.auth-form {
  max-width: 360px;
  margin: 60px auto;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.05);
  background: #fff;
  border-radius: 4px;
}
.auth-form label {
  display: block;
  margin: 20px 0;
}
.auth-form span {
  display: block;
  margin-bottom: 6px;
}
.auth-form input {
  padding: 8px 6px;
  font-size: 1em;
  color: #777;
  width: 96%;
}
.auth-form .btn {
  background: #58249c;
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  font-size: 1em;
  border-radius: 4px;
  cursor: pointer;
}
.auth-form .error {
  color: #e74c3c;
  margin-top: 10px;
}