.container {
  padding: 2rem;
  max-width: 1000px;
  margin: auto;
}

.chartContainer {
  background-color: var(--card-bg);
  padding: 2rem;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}

.noData {
  text-align: center;
  padding: 3rem;
  color: var(--secondary-text);
}