.App {
  max-width: 960px;
  margin: 0 auto;
}
nav {
  display: flex;
  margin: 0 auto 60px;
  gap: 10px;
  align-items: center;
}
nav h1 {
  margin-right: auto;
}
nav a {
  color: #333;
  padding: 4px 10px;
}
nav a.active {
  color: white;
  background: #333;
  text-decoration: none;
}

nav button.logout-btn {
  background: #58249c;
  color: white;
  border: 0;
  padding: 4px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
}

nav button.logout-btn:hover {
  background: #491e80;
}
.user-greeting {
  color: #333;
  font-weight: bold;
  padding: 4px 10px;
}
